c:\Users\saranya\eclipse-workspace\JavaDSAProblems\bin
c:\Users\saranya\eclipse-workspace\JavaDSAProblems\.settings
c:\Users\saranya\eclipse-workspace\JavaDSAProblems\.classpath
c:\Users\saranya\eclipse-workspace\JavaDSAProblems\.project